<div class="container" *ngIf="loggedProfile !== 'Farmacia'">
    <div class="container p-4 text-center">
        <h3>No posee autorización para acceder a este recurso</h3>
    </div>
</div>

<div class="container" *ngIf="loggedProfile == 'Farmacia'">
    <div class="container">
        <div class="container m-4">
            <form>
                <div class="form-group mt-3">
                    <label for="cuit">CUIT</label><br>
                    <input type='text' name="cuit" class="form-control mt-2" value="{{ obtainedPharmacy.cuit }}" disabled>
                </div>
                <div class="form-group mt-3">
                    <label for="company">Razón Social</label><br>
                    <input type='text' name="company" class="form-control mt-2" value="{{ obtainedPharmacy.company_name }}" disabled>
                </div>
                <div class="form-group mt-3">
                    <label for="business">Nombre de fantasia</label><br>
                    <input type='text' name="business" class="form-control mt-2" value="{{ obtainedPharmacy.business_name }}" disabled>
                </div>                
            </form>
        </div>
    </div>
</div>