<div class="container" *ngIf="loggedProfile !== 'Doctor'">
    <div class="container p-4 text-center">
        <h3>No posee autorización para acceder a este recurso</h3>
    </div>
</div>

<div class="container mt-4" #alertContainer></div>
<div class="container mt-4" #modalContainer></div>

<div class="container mt-10" *ngIf="loggedProfile == 'Doctor'">
    <div class="container" >
        <div class="container">
            <div class='row justify-content-end'>
                <div class="col-12">
                    <!--<button class="btn btn-primary" (click)="saveNewUIC()">Agregar nuevo</button>-->
                    <button type="button" class="btn btn-primary" data-bs-toggle="modal" data-bs-target="#staticBackdrop" (click)="createNewUIC()">Agregar nuevo</button>
                    <button class="btn btn-secondary" (click)="getUICByDoctorId('Pendiente')">Pendientes</button>
                    <button class="btn btn-success" (click)="getUICByDoctorId('Activo')">Habilitados</button>
                    <button class="btn btn-warning" (click)="getUICByDoctorId('Inactivo')">Deshabilitados</button>
                    <button class="btn btn-danger" (click)="exportexcel()">Descargar XLSX</button>
                </div>
            </div>
        </div>    

        <div class="container mt-4">
            <div class="row">
                <div class="col-12">
                    <table class="table table-striped" id="excel-table">
                        <thead>
                            <tr>
                                <th>Código QR</th>
                                <th>Id</th>
                                <th>Fecha de creación</th>
                                <th>Última fecha de modificación</th>
                                <th>Estado</th>                                
                                <th>Acciones</th>
                            </tr>
                        </thead>
                        <tbody>
                            <tr *ngFor="let filteredUniqueIdentifierCodeByDoctor of filteredUniqueIdentifierCodesByDoctor; let i = index">                                
                                <td><qrcode [qrdata]="filteredUniqueIdentifierCodeByDoctor.id!" [scale]="2" [width]="1" [errorCorrectionLevel]="'M'"></qrcode></td>
                                <td>{{ filteredUniqueIdentifierCodeByDoctor.id }}</td>
                                <td>{{ filteredUniqueIdentifierCodeByDoctor.creationDate | date : "dd/MM/yyyy" }}</td>
                                <td>{{ filteredUniqueIdentifierCodeByDoctor.modificationDate | date : "dd/MM/yyyy" }}</td>
                                <td>{{ filteredUniqueIdentifierCodeByDoctor.status }}</td>                                
                                <td>
                                    <button *ngIf="filteredUniqueIdentifierCodeByDoctor.status !== 'Activo'" type="button" class="btn btn-warning" (click)="onUpdateUIC(filteredUniqueIdentifierCodeByDoctor.id!, 'Activo', filteredUniqueIdentifierCodeByDoctor.creationDate!, filteredUniqueIdentifierCodeByDoctor.doctorId!, 'Activo')"><i-bs name="eye-fill"></i-bs></button>
                                    <button *ngIf="filteredUniqueIdentifierCodeByDoctor.status == 'Activo'" type="button" class="btn btn-warning" (click)="onUpdateUIC(filteredUniqueIdentifierCodeByDoctor.id!, 'Inactivo', filteredUniqueIdentifierCodeByDoctor.creationDate!, filteredUniqueIdentifierCodeByDoctor.doctorId!, 'Inactivo')"><i-bs name="eye-slash-fill"></i-bs></button>
                                    <button type="button" class="btn btn-danger" (click)="onDeleteUIC(filteredUniqueIdentifierCodeByDoctor.id!, filteredUniqueIdentifierCodeByDoctor.status!)"><i-bs name="trash-fill"></i-bs></button>
                                    <button type="button" class="btn btn-primary" (click)="sendUICByEmail(filteredUniqueIdentifierCodeByDoctor.id!)" ><i-bs name="envelope-fill"></i-bs></button>
                                </td>
                            </tr>
                        </tbody>
                    </table>
                </div>
            </div>
        </div>        
    </div>
</div>


<!-- Modal -->
<div class="modal fade" id="staticBackdrop" data-bs-backdrop="static" data-bs-keyboard="false" tabindex="-1" aria-labelledby="staticBackdropLabel" aria-hidden="true">
    <div class="modal-dialog">
        <div class="modal-content">
        <div class="modal-header">
            <h5 class="modal-title" id="staticBackdropLabel">¿Desea proceder con la creación?</h5>
            <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
        </div>
        <div class="modal-body text-center">
            <qrcode [qrdata]="newCreatedUIC.id!" [scale]="5" [width]="1" [errorCorrectionLevel]="'M'"></qrcode>
        </div>
        <div class="modal-footer">
            <button type="button" class="btn btn-secondary" data-bs-dismiss="modal">Cancelar</button>
            <button type="button" class="btn btn-primary" data-bs-dismiss="modal" (click)="saveNewUIC()">Confirmar</button>
        </div>
        </div>
    </div>
</div>