<div class="container" *ngIf="loggedProfile !== 'Admin'">
    <div class="container p-4">
        <p>No posee autorización para acceder a este recurso</p>
    </div>
</div>

<div class="container" *ngIf="loggedProfile == 'Admin'">
    <div class="container">
        <div class="container m-4">
            <form>
                <div class="form-group mt-3">
                    <label for="name">Nombre</label><br>
                    <input type='text' name="name" class="form-control mt-2" value="{{ obtainedAdmin.name + ' ' + obtainedAdmin.lastName }}" disabled>
                </div>
                <!--<div class="form-group mt-3">
                    <label for="email">Email</label><br>
                    <input type='text' name="email" class="form-control mt-2" value="{{ obtainedAdmin.email }}" disabled>
                </div>-->
            </form>
        </div>
    </div>
</div>
