<div class="container" *ngIf="loggedProfile !== 'Admin'">
    <div class="container p-4">
        <p>No posee autorización para acceder a este recurso</p>
    </div>
</div>

<div class="container mt-4" #alertContainer></div>

<div class="container" *ngIf="loggedProfile == 'Admin'">
    <div class="container p-4">
        <form #filterDates="ngForm" (ngSubmit)="submit(filterDates)" class="row g-3">
            <div class="col-auto">
              <label for="fromDate" class="form-label">Fecha Desde:</label>
              <input type="date" name="fromDate" class="form-control" required value="01/01/1900" ngModel>
            </div>
            <div class="col-auto">
              <label for="toDate" class="form-label">Fecha Hasta:</label>
              <input type="date" name="toDate" class="form-control" required ngModel>
            </div>
            <div class="col-auto d-grid gap-2">
                <button type="submit" class="btn btn-primary btn-lg"><h4>Filtrar</h4></button>
            </div>
        </form>
    </div>
    <div class="container p-4">
        <div class='row justify-content-end'>
            <div class="col-12">
                <button class="btn btn-success m-2" (click)="getFilteredPharmacies('Activo')">Habilitados</button>
                <button class="btn btn-warning m-2" (click)="getFilteredPharmacies('Inactivo')">Deshabilitados</button>
                <button class="btn btn-secondary m-2" (click)="exportexcel()">Descargar XLSX</button>
            </div>
        </div>
    </div> 
    <div class="container m-2">
        <div class="row">
            <div class="col-12">
                <table class="table table-striped" id="excel-table">
                    <thead>
                        <tr>
                            <th>Id</th>
                            <th>Razón Social</th>
                            <th>Nombre de fantasia</th>
                            <th>CUIT</th>
                            <th>Fecha de registro</th>
                            <th>Estado</th>   
                            <th>Acciones</th>                         
                        </tr>
                    </thead>
                    <tbody>
                        <tr *ngFor="let obtainedPharmacy of filteredobtainedPharmacies; let i = index">                        
                            
                            <td>{{ obtainedPharmacy.id }}</td>
                            <td>{{ obtainedPharmacy.company_name }}</td>
                            <td>{{ obtainedPharmacy.business_name }}</td>
                            <td>{{ obtainedPharmacy.cuit }}</td>
                            <td>{{ obtainedPharmacy.creationDate | date : "dd/MM/yyyy" }}</td>
                            <td>{{ obtainedPharmacy.Status }}</td>
                            <td>
                                <button *ngIf="obtainedPharmacy.Status == 'Inactivo'" type="button" class="btn btn-warning" (click)="onUpdatePharmacy(obtainedPharmacy.id!, 'Activo',obtainedPharmacy.cuit!, obtainedPharmacy.company_name!, obtainedPharmacy.business_name!, obtainedPharmacy.email!, obtainedPharmacy.creationDate!)"><i-bs name="eye-fill"></i-bs></button>
                                <button *ngIf="obtainedPharmacy.Status == 'Activo'" type="button" class="btn btn-warning" (click)="onUpdatePharmacy(obtainedPharmacy.id!, 'Inactivo', obtainedPharmacy.cuit!, obtainedPharmacy.company_name!, obtainedPharmacy.business_name!, obtainedPharmacy.email!, obtainedPharmacy.creationDate!)"><i-bs name="eye-slash-fill"></i-bs></button>
                            </td>
                        </tr>
                    </tbody>
                </table>
            </div>
        </div>
    </div> 
</div>
