<div class="container" *ngIf="loggedProfile !== 'Admin'">
    <div class="container p-4">
        <p>No posee autorización para acceder a este recurso</p>
    </div>
</div>

<div class="container mt-4" #alertContainer></div>

<div class="container" *ngIf="loggedProfile == 'Admin'">
    <div class="container p-4">
        <form #filterDates="ngForm" (ngSubmit)="submit(filterDates)" class="row g-3">
            <div class="col-auto">
              <label for="fromDate" class="form-label">Fecha Desde:</label>
              <input type="date" name="fromDate" class="form-control" required value="01/01/1900" ngModel>
            </div>
            <div class="col-auto">
              <label for="toDate" class="form-label">Fecha Hasta:</label>
              <input type="date" name="toDate" class="form-control" required ngModel>
            </div>
            <div class="col-auto d-grid gap-2">
                <button type="submit" class="btn btn-primary btn-lg"><h4>Filtrar</h4></button>
            </div>
        </form>
    </div>
    <div class="container p-4">
        <div class='row justify-content-end'>
            <div class="col-12">
                <button class="btn btn-primary m-2" (click)="getFilteredDoctors('En evaluación')">En evaluación</button>
                <button class="btn btn-info m-2" (click)="getFilteredDoctors('Activo')">Habilitados</button>
                <button class="btn btn-warning m-2" (click)="getFilteredDoctors('Inactivo')">Deshabilitados</button>
            </div>
            <div class="col-12">
                <button class="btn btn-success m-2" (click)="exportexcel()">Descargar Reporte XLSX</button>
                <button class="btn btn-primary m-2" (click)="createMassiveSecurityCodes()">Crear Códigos de Seguridad</button>
                <button class="btn btn-secondary m-2" (click)="notificateMassiveSecurityCodes()">Notificar Códigos de Seguridad</button>
                <button class="btn btn-dark m-2" (click)="notificatePendingUICByDoctor()">Notificar CUI Pendientes</button>
            </div>
        </div>
    </div> 
    <div class="container m-2">
        <div class="row">
            <div class="col-12">
                <table class="table table-striped" id="excel-table">
                    <thead>
                        <tr>
                            <th>Id</th>
                            <th>Nombre</th>
                            <th>Apellido</th>
                            <th>Matricula médica</th>
                            <th>Fecha de registro</th>
                            <th>Estado</th>
                            <th>Acciones</th>                            
                        </tr>
                    </thead>
                    <tbody>
                        <tr *ngFor="let obtainedDoctor of filteredobtainedDoctors; let i = index">                        
                            
                            <td>{{ obtainedDoctor.id }}</td>
                            <td>{{ obtainedDoctor.name }}</td>
                            <td>{{ obtainedDoctor.lastName }}</td>
                            <td>{{ obtainedDoctor.medicalLicense }}</td>
                            <td>{{ obtainedDoctor.creationDate | date : "dd/MM/yyyy" }}</td>
                            <td>{{ obtainedDoctor.Status }}</td>                            
                            <td>
                                <button *ngIf="obtainedDoctor.Status != 'Activo'" type="button" class="btn btn-warning" (click)="onUpdateDoctor(obtainedDoctor.id!, 'Activo',obtainedDoctor.name!, obtainedDoctor.lastName!, obtainedDoctor.medicalLicense!, obtainedDoctor.email!, obtainedDoctor.creationDate!, obtainedDoctor.GmailID!, obtainedDoctor.FacebookID!)"><i-bs name="eye-fill"></i-bs></button>
                                <button *ngIf="obtainedDoctor.Status == 'Activo'" type="button" class="btn btn-warning" (click)="onUpdateDoctor(obtainedDoctor.id!, 'Inactivo', obtainedDoctor.name!, obtainedDoctor.lastName!, obtainedDoctor.medicalLicense!, obtainedDoctor.email!, obtainedDoctor.creationDate!, obtainedDoctor.GmailID!, obtainedDoctor.FacebookID!)"><i-bs name="eye-slash-fill"></i-bs></button>
                                <button *ngIf="obtainedDoctor.Status != 'Activo'" type="button" class="btn btn-primary ms-2" data-bs-toggle="modal" data-bs-target="#staticBackdrop" (click)="modalModifyMedicalLicense(obtainedDoctor.id!)"><i-bs name="pen-fill"></i-bs></button>
                            </td>
                        </tr>
                    </tbody>
                </table>
            </div>
        </div>
    </div> 
</div>


<div class="modal fade" id="staticBackdrop" data-bs-backdrop="static" data-bs-keyboard="false" tabindex="-1" aria-labelledby="staticBackdropLabel" aria-hidden="true">
    <div class="modal-dialog">
        <div class="modal-content">
        <div class="modal-header">
            <h5 class="modal-title" id="staticBackdropLabel">Modificar licencia médica</h5>
            <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
        </div>
        <div class="modal-body">
            <form [formGroup]="doctorRegistrationForm" (ngSubmit)="modifyMedicalLicense()" class="row">
                <div class="col-md-12">  
                    <label for="doctorMedicalLicense" class="form-label">Nueva Licencia médica:</label>                  
                    <input id="doctorMedicalLicense" type="text" minlength="6" class="form-control" formControlName="doctorMedicalLicense" required (change)='onMedicalLiceseChange()'>
                </div>  
                <div *ngIf="doctorRegistrationForm.controls.doctorMedicalLicense.touched && doctorRegistrationForm.controls.doctorMedicalLicense.invalid">
                    <div *ngIf="doctorRegistrationForm.controls.doctorMedicalLicense.errors?.required" class="alert alert-warning alert-dismissible fade show" role="alert">Indique una Licencia médica</div>                
                    <div *ngIf="doctorRegistrationForm.controls.doctorMedicalLicense.errors?.minlength" class="alert alert-warning alert-dismissible fade show" role="alert">La licencia médica debe ser de al menos 6 caracteres</div>
                </div>
                <div *ngIf="doctorRegistrationForm.controls.doctorMedicalLicense.touched">
                    <div *ngIf="!validMedicalLicense" class="alert alert-warning alert-dismissible fade show" role="alert">La Licencia médica ya se encuentra en uso.</div>                
                </div>            
            </form>
        </div>
        <div class="modal-footer">
            <button type="button" class="btn btn-secondary" data-bs-dismiss="modal">Cancelar</button>
            <button type="button" class="btn btn-primary" data-bs-dismiss="modal" (click)="modifyMedicalLicense()" [disabled]="!doctorRegistrationForm.valid">Modificar</button>
        </div>
        </div>
    </div>
</div>
