<div class="container" *ngIf="loggedProfile !== 'Doctor'">
    <div class="container p-4">
        <p>No posee autorización para acceder a este recurso</p>
    </div>
</div>

<div class="container mt-4" #alertContainer></div>

<div class="container" *ngIf="loggedProfile == 'Doctor'">
    <div class="container d-grid gap-4">
        <div class="row">
            <div class="col-12">
                <h6 class="display-4 text-center m-4">Código de seguridad:</h6>
            </div>
        </div>
        <div class="row">
            <div class="col-4"></div>
            <div class="col-4">               
                <div class="card bg-dark text-white">
                    <div class="card-body">
                        <h1 class="display-1 text-center">{{securityCodeNumber}}</h1>
                        <h6 class="text-center">Fecha de vigencia: {{ securityCodeCreationDate | date : "dd/MM/yyyy" }} </h6>
                    </div>
                </div> 
            </div>            
        </div>
        <div clas="container">
        <div class="row">
            <div class="col-4"></div>
            <div class="col-4 d-grid gap-2">
                <button class="btn btn-success btn-lg" (click)="saveNewSecurityCode()">Crear nuevo código</button>
            </div>
        </div>
        </div>
    </div>
</div>

